### How to use if and else in list comprehension?

In [12]:
def to_power(num, *args):
    print(num, *args)
    t = ["Hey you din't pass args" if not args else n**num for n in args]
    return t

lst = [3,4,5]
to_power(*lst)

3 4 5

[64, 125]

### How to find Euler constant?

In [28]:
from math import e

e

2.718281828459045

In [7]:
from math import pi

pi

3.141592653589793

### How to fetch firstname and lastname?

In [4]:
name = 'Manavalan Michale'
firstname, lastname = name.split()
print(firstname)
print(lastname)

Manavalan
Michale

In [6]:
firstname = 'Kalyan'
lastname = ' Ravi'

name = firstname + lastname
name

'Kalyan Ravi'

### How can I detection end of text file ?

In [24]:
!cat -n  /home/mana/Work/fruits.txt

     1	one
     2	two
     3	three

In [23]:
from pathlib import Path

p = Path('/home/mana/Work/fruits.txt').read_text().splitlines()
p[-1]

'three'

### How to pass arguments in Lambda function?

In [31]:
add = lambda x, y: x+y
add(5, 5)

10

### Return unique numbers

In [26]:
l = [1,2,1,3,3,7,5,5]

def unique_list(l):
    return list(set(l))
    
unique_list(l)

[1, 2, 3, 5, 7]

In [36]:
l = [1,2,1,3,3,7,56,56,55,89,55,66,178]

def unique_list(l):
    return sorted(set(l))
    
unique_list(l)

[1, 2, 3, 7, 55, 56, 66, 89, 178]

### Return maximum number

In [152]:
l = [1,2,1,3,3,7,1]

def maximun(l):
    return max(set(l))
    
maximun(l)

7

### If put input two same number then it will ask to re-enter the number again?

In [150]:
inp = len(set([input('insert: ') for _ in range(3)]))          
def chk(x):
    print(x)
    while x != 3:
        x = len(set([input('insert: ') for _ in range(3)]))
        print(x)
chk(inp)

insert: 1
insert: 1
insert: 1
1
insert: 2
insert: 1
insert: 1
2
insert: 3
insert: 1
insert: 1
2
insert: 4
insert: 2
insert: 1
3

### How to save the position number of a list by their size to another list ?

In [78]:
lst = [122,22,33,1234]
o = [chr(i) for i in lst]
[lst.index(ord(j))+1 for  j in sorted(o)]

[2, 3, 1, 4]

[2,4,3,1]

### How to reassgin variable?

Here a and b reassign to getting_points and total_points.

In [104]:
a = getting_points = 912
b = total_points = 1200
print('{:.0%}'.format(a/b))

76%

### Saturinan Month

In [189]:
lst = range(1,9)

print('{:>4} {:>4} {:>4} {:>4} {:>4} {:>4} {:>4} {:>4}'.format('Mi','Rh','Ph','Ja','Ca','Ki','At','Ym'))
for i,j,k,l,m,n,o,p in zip(*[iter(lst)] *8):
    print('{:4} {:4} {:4} {:4} {:4} {:4} {:4} {:4}'.format(i, j, k,l,m,n,o,p))
lst = range(13,21)
for i,j,k,l,m,n,o,p in zip(*[iter(lst)] *8):
    print('{:4} {:4} {:4} {:4} {:4} {:4} {:4} {:4}'.format(i, j, k,l,m,n,o,p))
lst = range(25,33)
for i,j,k,l,m,n,o,p in zip(*[iter(lst)] *8):
    print('{:4} {:4} {:4} {:4} {:4} {:4} {:4} {:4}'.format(i, j, k,l,m,n,o,p))
lst = range(37,45)
for i,j,k,l,m,n,o,p in zip(*[iter(lst)] *8):
    print('{:4} {:4} {:4} {:4} {:4} {:4} {:4} {:4}'.format(i, j, k,l,m,n,o,p))

  Mi   Rh   Ph   Ja   Ca   Ki   At   Ym
   1    2    3    4    5    6    7    8
  13   14   15   16   17   18   19   20
  25   26   27   28   29   30   31   32
  37   38   39   40   41   42   43   44

In [16]:
lst = [[1,9],[13,21],[25,33],[37,45]]
print('{:>4} {:>4} {:>4} {:>4} {:>4} {:>4} {:>4} {:>4}'
      .format('Mi','Rh','Ph','Ja','Ca','Ki','At','Ym'))
for x in lst:
    for i,j,k,l,m,n,o,p in zip(*[iter(range(*x))] *8):
        print('{:4} {:4} {:4} {:4} {:4} {:4} {:4} {:4}'.
              format(i, j, k,l,m,n,o,p))

  Mi   Rh   Ph   Ja   Ca   Ki   At   Ym
   1    2    3    4    5    6    7    8
  13   14   15   16   17   18   19   20
  25   26   27   28   29   30   31   32
  37   38   39   40   41   42   43   44

### How to get range arguments from list?

In [18]:
lst = [1,9]

for i in range(*lst):
    print(i)

1
2
3
4
5
6
7
8

### How to format phone number?

In [60]:
import random 
ph = ''.join([str(random.randint(1,9)) for _ in range(11)])
print('PHONE NUMBER:',ph)
'+91 {} {}'.format(ph[0:5],ph[6:])

PHONE NUMBER: 55842128269

'+91 55842 28269'

In [61]:
import numpy as np

ph = ''.join([str(i) for i in np.random.randint(10, size=11)])
print('PHONE NUMBER:',ph)
'+91 {} {}'.format(ph[0:5],ph[6:])

PHONE NUMBER: 83772423101

'+91 83772 23101'

### Write the data of a csv file into a text file

In [40]:
!cat /home/mana/Work/sample.csv

no, name, city
1, Ma, tu
2, Hs, mt

In [3]:
from pathlib import Path

p = Path('/home/mana/Work/sample.csv').read_text().replace(',','')
print(p, file=open('/home/mana/Work/sample.txt','w'))

In [51]:
!cat /home/mana/Work/sample.txt

no name city
1 Ma tu
2 Hs mt

### How to convert csv from text?

In [5]:
line = '100 Chennai Manavalan Micheal'
print(*line.split(), sep =',')

100,Chennai,Manavalan,Micheal

If you want write csv file, use this code.

In [35]:
line = '100 Chennai Manavalan Micheal'
print(*line.split(), sep =',', file=open('/home/mana/Work/add.csv','w'))

In [136]:
!cat /home/mana/Work/add.csv

100,Chennai,Manavalan,Micheal

- takes one integer from user an input (X)
- calculates the reminder of X when it is divided by 9
- if the reminder is greater than 1 then output x^2
- if the reminder is smaller than or equal to 1 then output 2^x on monitor

In [52]:
{i:i%9 for i in range(12)}

{0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 0, 10: 1, 11: 2}

In [1]:
(lambda x: x%9 > 1 and x**2 or 2**x)(int(input('Insert:')))

Insert:4

16

In [2]:
(lambda x: x%9 > 1 and x**2 or 2**x)(int(input('Insert:')))

Insert:9

512

In [27]:
integer = (int(input('Insert:')))
if integer%9 > 1:
    print(integer**2)
else:
    print(2**integer)

Insert:5
25

### What is remainder of 1 to 10. if diveded by 3
This is one of kids program to improve their maths

In [37]:
{i:i%3 for i in range(11)}

{0: 0, 1: 1, 2: 2, 3: 0, 4: 1, 5: 2, 6: 0, 7: 1, 8: 2, 9: 0, 10: 1}

A new fighting game has become popular. There are N number of villains with each having some strength. 
There are N players in the game with each having some energy. The energy is used to kill the villains. 
The villain can be killed only if the energy of the player is greater than the strength of the villain.

In [135]:
villan = 10
player = 6
villan_strength = 3
player_enegry = 2

while player < villan : 
    if player > 3:
        villan += villan_strength
        print('Villan strength:',villan)
        print('Player strength:',player)
    villan -= 1
    print('Villan strength:',villan)
    print('Player strength:',player)
    player += 1
    print('Villan strength:',villan)
    print('Player strength:',player)
    player += villan_strength
    if player == 11:
        player += player_enegry**player_enegry
        print('Villan strength:',villan)
        print('Player strength:',player) 
else:
    if player+1 == 15:
        print('WIN')

Villan strength: 13
Player strength: 6
Villan strength: 12
Player strength: 6
Villan strength: 12
Player strength: 7
Villan strength: 15
Player strength: 10
Villan strength: 14
Player strength: 10
Villan strength: 14
Player strength: 11
WIN

### How to search a paragraph if you know the first word of it?

In [138]:
!cat /home/mana/Work/para.txt

Distributions include the Linux kernel and supporting system software and libraries, many of which are provided by the GNU Project. Many Linux distributions use the word "Linux" in their name, but the Free Software Foundation uses the name GNU/Linux to emphasize the importance of GNU software, causing some controversy.[15][16]

Popular Linux distributions[17][18][19] include Debian, Fedora, and Ubuntu. Commercial distributions include Red Hat Enterprise Linux and SUSE Linux Enterprise Server.
Desktop Linux distributions include a windowing system such as X11 or Wayland, and a desktop environment such as GNOME or KDE Plasma.
Distributions intended for servers may omit graphics altogether, and include a solution stack such as LAMP. Because Linux is freely redistributable, anyone may create a distribution for any purpose.

In [1]:
from pathlib import Path

inp = input('Enter Text: ').swapcase()
p = Path('/home/mana/Work/para.txt').read_text().splitlines()
[i for i in p if i.swapcase().startswith(inp)]

Enter Text: Desktop

['Desktop Linux distributions include a windowing system such as X11 or Wayland, and a desktop environment such as GNOME or KDE Plasma. ']

### How to fetch particular item in list in dictionary?

In [7]:
lst =[{"no":2,"name":"manavalan ","email":"xxxx@gmail.com"}]
for i in lst:
    print(i['name'])

manavalan

### Which one largest number?

In [23]:
n1 = 4 
n2 = 7
n3 = 1
max(n1,n2,n3)

7

In [1]:
num = [6, 9, 3, 1]
num.sort()
num

[1, 3, 6, 9]

In [3]:
str_num = [5, "1", 100, "34"]
str_num.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

### How to sorted mixed data type?
Normally, if you sorted mixed data type, you will get error like this

TypeError: '<' not supported between instances of 'str' and 'int'

But this method you can sorted mixed data types.

In [26]:
str_num = [5, "1", 100, 2.3, "34"]
s1 = [i for i in str_num if isinstance(i,int) or isinstance(i,float)]
s2 = [j for j in str_num if isinstance(j,str)]
str_num = sorted(s1) + sorted(s2)
str_num

[2.3, 5, 100, '1', '34']

### How to merge two array?

### How to craete order numbers one dimensional array?

In [28]:
array = [_ for _ in range(9)]
array

[0, 1, 2, 3, 4, 5, 6, 7, 8]

### How to craete sequences numbers one dimensional array using numpy?

In [30]:
import numpy as np

a = np.arange(10)
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

### Convert int to str

In [5]:
print(*map(str,range(1,50,5)))

1 6 11 16 21 26 31 36 41 46

### How to pass arguments to map  of list of list?

In [7]:
list_of_lists = [[1,5534,123,67,8673,243] , [56,2,123,7,3],
                 [546,24,5,7,86,45234,24 ]]
sums = map(sum, list_of_lists)
sum_of_sums = sum(sums)
sum_of_sums

60758

### How to sum list of list?

In [9]:
list_of_list = [[1,5534,123,67,8673,243] , [56,2,123,7,3],
                 [546,24,5,7,86,45234,24 ]]
sum([sum(i) for i in list_of_list])

60758

Data
Data1
0
Con1
Reg1
Attributes1
Ex1
1
Con1
Lang1
Attributes
Ex1

In these type of file while I read the data from Con1 I should get both the columns Reg1 and Lang1. As Lang1 is not available in entity 0 then Null is okay. But in the final output I am unable to get Reg1 and Lang1 as separate columns. Please help me how can I achieve it as separate columns in the output file

In [23]:
d1 = '0 Con1 Reg1'
d2 = '1 Con1 Lang1'

for i in d1,d2:
    print(*i.split(), sep = ',', file = open('/home/mana/Work/avi.csv','a+'))

In [24]:
!cat /home/mana/Work/avi.csv

0,Con1,Reg1
1,Con1,Lang1

### How to access  each in element multidiemensional array?
Generally, if we access each element multidiemensional array, we should use multiple loop to access 

each element.  

if multidiemensional array is too large. it is not possible. But we can access each element 

using numpy. if multidiemensional array too large.

In [27]:
import numpy as np

arry = np.arange(15).reshape(5,3)
arry

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11],
       [12, 13, 14]])

In [28]:
import numpy as np

arry = np.arange(15).reshape(5,3)
for i in range(np.size(arry,0)):
    for j in arry[i]:
        print(j)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

### Unit converter: Miles and Kilometers

In [31]:
'''
Unit converter: Miles and Kilometers
'''
print('1. Kilometers to Miles')
print('2. Miles to Kilometers')

def km_miles():
    km = float(input('Enter distance in kilometers: '))
    miles = km / 1.609
    print('Distance in miles: {0:.0f}'.format(miles))
def miles_km():
    miles = float(input('Enter distance in miles: '))
    km = miles * 1.609
    print('Distance in kilometers: {0:.f}'.format(km))

if __name__ == '__main__':
    choice = input('Which conversion would you like to do?: ') 
    
if choice == '1':
    km_miles()

if choice == '2':
    miles_km()

1. Kilometers to Miles
2. Miles to Kilometers
Which conversion would you like to do?: 1
Enter distance in kilometers: 100
Distance in miles: 62

### How to check condition as well store variable?

In [15]:
city = input("Please enter your city: ")
age = int(input("Please enter your age: "))
city1 = 'Chennai'
city2 = 'Madurai'
min_age = 21

its_okay = city == city1 or city2 and age >= min_age
its_okay

Please enter your city: Madurai
Please enter your age: 23

True

### How to create xml tag from text?

input : address/name/fname 
output: <address><name><fname> </fname></name></address>

In [268]:
inp = 'address/name/fname'

for i in [inp.split('/')]:
    print('<{0}><{1}><{2}> </{2}></{1}></{0}>'.format(i[0],i[1],i[2]))

<address><name><fname> </fname></name></address>

### How to generate random character?

In [2]:
import random

l=[x for x in range(0,10)]
f=[chr(y) for y in range(65,90)]
c=l+f
v = [random.choices(c,k=2) for t in range(12)]
print(*sum(v,[]),sep='')

BH4VH7R0KKLWUP3LOHQ2GQVL

### How to generate random alpha numeric character?

In [32]:
from string import ascii_uppercase,ascii_lowercase,digits

print(*random.choices(ascii_uppercase+ascii_lowercase+digits,k=12), sep = '')

rfxltQB2GKW1

### How to generate password?

In [43]:
from string import ascii_uppercase,ascii_lowercase,digits,punctuation

print(*random.choices(ascii_uppercase+ascii_lowercase+digits+punctuation,k=8), sep = '')

1qIPZ&8e

In [46]:
from string import ascii_uppercase,digits
import random

print(*random.choices(ascii_uppercase+digits,k=12), sep = '')

S7LDI5SIR8W1

### How to read a file line by line store it into an array?

In [50]:
!cat /home/mana/Work/fruits.txt

one
two
three

In [2]:
from pathlib import Path

Path('/home/mana/Work/fruits.txt').read_text().splitlines()

['one', 'two', 'three']

In [67]:
with open('/home/mana/Work/fruits.txt') as f:
    r = f.readlines()
    
r

['one\n', 'two\n', 'three\n']

### Generate password using string module

In [153]:
from string import ascii_letters,digits
import random

c = ascii_letters+digits+'#$%&\()*+-@*?:'
print(*random.choices(c,k=8), sep = '')

x+r-Q+rr

### How to check two symbol repated occurance continously in text?

In [154]:
import re

lst = ['J)bLO**4', 'HHH#6GoI', 'x+r-Q+rr']
[i for i in lst if re.search(r'\W\W',i)]

['J)bLO**4']

### How to generate secure password?

In [262]:
from string import ascii_letters,digits
from random import choices
import re

def gnerate_password():
    global passwd
    global match
    c = ascii_letters+digits+'#$%&\()*+-@*?:'
    passwd = ''.join(choices(c,k=8))
    rgx = ['\W', '[a-z]', '[A-Z]', '\d']
    match = list(filter(lambda x: re.search(r''+x+'',passwd), rgx))

gnerate_password() 

while True:
    if len(match) == 4:
        print(passwd)
        break
    else:
        gnerate_password()

o?sI*pj9

### How much data download and upload since booting?

In [11]:
from pathlib import Path
import bisect
import re

size = [1, 2**10, 2**20, 2**30] ## GiB
unit = ['B', 'K', 'M', 'G']

def con(byts):
    if byts != 0:
        index = bisect.bisect(size, byts) -1
        return "{:.1f}{}".format(byts/size[index], unit[index])
    else: 
        return '0B'
    
print('{} {:^30} {}'.format('Netwok-card','Download','Upload'))
print('*'*50)
p = Path('/proc/net/dev').read_text().splitlines()
net = {i.split()[0]: [i.split()[1], i.split()[9]] for i in p
       if re.search(r'eth|wlan|enx|ens',i)}

for j in net:
    down,up = net[j]
    print('{:<15} {:>12} {:>19}'.format(j,con(int(down)), con(int(up))))

Netwok-card            Download            Upload
**************************************************
enxfcde56ff0106:        15.9M                5.9M
ens32:                    0B                  0B

In [10]:
!uptime

 20:16:15 up 1 day, 21:20,  1 user,  load average: 0.42, 0.45, 0.45

In [8]:
import bisect
import re

size = [1, 2**10, 2**20, 2**30] ## GiB
unit = ['B', 'K', 'M', 'G']

def con(byts):
    if byts != 0:
        index = bisect.bisect(size, byts) -1
        return "{:.1f}{}".format(byts/size[index], unit[index])
    else: 
        return '0B'

print('{} {:^30} {}'.format('Netwok-card','Download','Upload'))
with open('/proc/net/dev') as nop:
    for i in nop.readlines():
        if re.search(r'eth|wlan|enx|ens',i):
            j = i.split()[0:10]            
            print("{:<15} {:>12} {:>19}".
                  format(j[0],con(int(j[1])),con(int(j[-1]))))

Netwok-card            Download            Upload
enxfcde56ff0106:       865.1K              703.8K
ens32:                    0B                  0B

### How to manipulate  **kwargs?

In [397]:
my_dict = {'Name': 'Manavalan', 'city': 'Chennai'}

def fn(**kwargs):
    for i in kwargs:
        print('key:',i)
        print('Value:',kwargs[i])
    
      
fn(**my_dict)

key: Name
Value: Manavalan
key: city
Value: Chennai

In [398]:
def fn(**kwargs):
    for i in kwargs:
        print('key:',i)
        print('Value:',kwargs[i])
    
      
fn(Name = 'Manavalan', city = 'Chennai')

key: Name
Value: Manavalan
key: city
Value: Chennai

### How to collect system infromation using python?

In [1]:
from pathlib import Path
import platform

print('OS:',*platform.dist())
q = Path('/proc/cpuinfo').read_text().splitlines()
cpu = [j for j in q if j.startswith('model name')]
print('CPU',cpu[0].replace('model name',''))
r = Path('/proc/meminfo').read_text().splitlines()
mem = [k for k in r if k.startswith('MemTotal')]
print('Memory Size:',round(int(mem[0].split()[1])/1024/1024), 'GB')
s = Path('/sys/block/sda/size').read_text().splitlines()
print('Hard Disk:',round(int(s[0])*512/1000/1000/1000), 'GB')

OS: Ubuntu 18.04 bionic
CPU 	: Intel(R) Core(TM)2 Duo CPU     E8400  @ 3.00GHz
Memory Size: 4 GB
Hard Disk: 120 GB

### How to find Disk Model and Serial number?

In [14]:
import os
import re

f = os.listdir('/dev/disk/by-id')
disk = [i.split('_')[0:2] for i in f if i.startswith('ata')]
model, model_nimber = disk[0]
print(model, model_nimber, sep ='\n')

ata-KINGSTON
SA400S37120G

### List size of files

In [5]:
import os
from os.path import getsize as gts
import bisect

#size = [1, 1e+3, 1e+6, 1e+9]
size = [1, 2**10, 2**20, 2**30]
unit = ['B', 'K', 'M', 'G']
path = '/home/mana/Study Python'
files = [(i, gts(os.path.join(path,i))) 
         for i in os.listdir(path)]
fsort = sorted(files, key = lambda x: x[1], reverse = True)

def convert(byts):
    if byts != 0:
        index = bisect.bisect(size, byts) -1
        return "{:.1f}{}".format(byts/size[index], unit[index])
    else: 
        return '0B'

for j,k in fsort :
    print('{:8} {}'.format(convert(k),j))

24.8M    Learning_Python_5th_Edition_Mark.pdf
16.6M    Automate-the-boring-stuff-with-python-2015.pdf
14.2M    The Python 3 Standard Library by Example.pdf
7.8M     Python-Docs-Library.pdf
5.4M     Python Crash Course.pdf
5.3M     Python Notes For Professionals.pdf
5.2M     Pro Python System Administration (2nd ed.) [Sileika 2014-11-27].pdf
4.8M     How-to-code-in-python-Digital Ocean.pdf
4.2M     Problem Solving with Algorithms and DataStructures.pdf
3.7M     Starting Out with Python (2nd ed.) [Gaddis 2011-03-18].pdf
3.4M     Python for Unix and Linux System Administration.pdf
2.9M     Python3-Tutorial Point.pdf
2.8M     Python standard library by example.pdf
2.6M     Python Useful Modules.pdf
2.4M     Python Essential Reference, Fourth Edition (2009)-Library.pdf
2.3M     Programiz Python tutorial.pdf
2.0M     Python System Programming Book.pdf
996.8K   Parsing Tools and Libraries.pdf
729.2K   Python 3 Quick Guide.pdf
707.3K   pysheeet.pdf
559.4K   Python-Docs-Tutorial.pdf
480.7K   python-guide.pdf
434.1K   Learn Python3 in 30 Minutes.pdf

### uptime

In [9]:
%%bash

uptime

 12:33:14 up 1 day,  3:51,  1 user,  load average: 0.52, 0.32, 0.15

In [7]:
%%python3
from pathlib import Path as Pa
from datetime import timedelta

u = Pa('/proc/uptime').read_text().split()[0]
t = timedelta(seconds = float(u))
print(str(t).rpartition(':')[0])

1 day, 3:51

### How to list all files?

In [13]:
!ls -1 /home/mana/Work

add.csv
avi.csv
fruits.txt
para.txt
sample.csv
sample.txt

In [11]:
import os

print(*os.listdir('/home/mana/Work'), sep ='\n')

add.csv
sample.txt
sample.csv
fruits.txt
para.txt
avi.csv

### Disk Usage

In [14]:
from pathlib import Path
from os import statvfs as svfs
import re
import bisect

#size = [1, 1e+3, 1e+6, 1e+9]      ## GB
size = [1, 2**10, 2**20, 2**30]  ## GiB
unit = ['B', 'K', 'M', 'G']
mline = Path('/proc/mounts').read_text().splitlines()
mdev = [lp.split()[:2] for lp in mline 
        if re.match(r'^/dev/sd[a-z][1-9]', lp)]
clt = [(fsl,svfs(mpl)[0]*svfs(mpl)[2],svfs(mpl)[0]*svfs(mpl)[3],mpl)
       for fsl, mpl in mdev]

def con(byts):
    index = bisect.bisect(size, byts)-1
    return "{:.0f}{}".format(byts/size[index], unit[index])

print('{:20} {:^9} {:^9} {:^9} {:>13}'.
      format('Filesystem','Size','Used','Avail','Mounted-on'))
print('*'*64)
for fs in clt:
     print('{:20} {:^9} {:^9} {:^9}    {:20}'.
           format(fs[0],con(fs[1]),con(fs[1]-fs[2]),con(fs[2]),fs[3]))

Filesystem             Size      Used      Avail      Mounted-on
****************************************************************
/dev/sda1              110G       13G       96G       /

### How to convert decimal to binary?

In [16]:
inp = int(input('Enter Decimal Number:'))
print('{:b}'.format(inp))

Enter Decimal Number:10
1010

In [42]:
!free -h

              total        used        free      shared  buff/cache   available
Mem:           3.9G        1.1G        1.5G        432M        1.3G        2.0G
Swap:          2.0G          0B        2.0G

In [41]:
from pathlib import Path
import bisect

#size = [1, 1e+3, 1e+6]
size = [1, 2**10, 2**20, 2**30] ## GiB
unit = ['K', 'M', 'G']

memt, memf = Path('/proc/meminfo').read_text().splitlines()[0:3:2]
mt,mf = int(memt.split()[1]), int(memf.split()[1])
mu = mt - mf

def convert(kb):
    index = bisect.bisect(size, kb) -1
    return "{:.0f}{}".format(kb/size[index],unit[index])

print('{:15} {:18} {}'.format('Total-Mem', 'Mem-Used', 'Mem-Free'))
print('{:^10} {:^18} {:^18}'.format(convert(mt), convert(mu), convert(mf)))

Total-Mem       Mem-Used           Mem-Free
    4G             2G                 2G

### How to make substitute ?

In [2]:
!cat /home/mana/Work/sample.txt

apple
mango

In [3]:
%%bash

sed -i 's/apple/anotherapple/g' /home/mana/Work/sample.txt

anotherapple
mango

In [10]:
%%python3

from pathlib import Path
from re import sub

p = Path('/home/mana/Work/sample.txt').read_text().split()
resub = [sub(r'apple','anotherapple',i) for i in p]
print(resub)

['anotherapple', 'mango']

### Check server health

In [2]:
import os

if os.getloadavg()[0] > os.cpu_count():
    print('Server going critical stage.')
else:
    print('Server running smooth.')

Server running smooth.

### How to count that how many dot charcater used in text string?

In [21]:
import re

text = 'Hello.....?'
dot = [i for i in text if re.match('\.',i) ]
len(dot)

5

### How to find that how days before file modified?

In [31]:
!ls -l /home/mana/Work/add.csv

-rw-rw-r-- 1 mana mana 30 May  4 20:45 /home/mana/Work/add.csv

In [30]:
from datetime import date
from pathlib import Path

p = Path('/home/mana/Work/add.csv')
f = [(p,date.today()- date.fromtimestamp(p.stat()[-2]))]

for x,y in f:
    print('{} --> {} days before.'.format(x.name,y.days))

add.csv --> 13 days before.

### Count line start "warning" word in a file.

In [42]:
!cat /home/mana/Work/warn.txt

WARNING: systemd-networkd is not running, output will be incomplete.
May 17 00:42:03 joe mate-session[971]: WARNING: Unable to find provider.
May 17 00:42:15 joe kernel: [   23.494527] random: 7 urandom warning(s) .
WARNING Failed to open.

In [46]:
from pathlib import Path

p = Path('/home/mana/Work/warn.txt').read_text().splitlines()
len([i for i in p if i.casefold().startswith('warning') ])

2

### How to print file contents in Upper case?

In [39]:
!cat /home/mana/Work/warn.txt

WARNING: systemd-networkd is not running, output will be incomplete.
May 17 00:42:03 joe mate-session[971]: WARNING: Unable to find provider.
May 17 00:42:15 joe kernel: [   23.494527] random: 7 urandom warning(s) .
WARNING Failed to open.

In [41]:
from pathlib import Path

p = Path('/home/mana/Work/warn.txt').read_text().splitlines()
cont = [i.upper() for i in p]
print(*cont, sep = '\n')

WARNING: SYSTEMD-NETWORKD IS NOT RUNNING, OUTPUT WILL BE INCOMPLETE.
MAY 17 00:42:03 JOE MATE-SESSION[971]: WARNING: UNABLE TO FIND PROVIDER.
MAY 17 00:42:15 JOE KERNEL: [   23.494527] RANDOM: 7 URANDOM WARNING(S) .
WARNING FAILED TO OPEN.

### How to write Bash script in Jupyter Editor?

##### How to find set of website up or down?

In [44]:
!cat /home/mana/Work/host.txt

google.com
facebook.com
twitter.com
tamilrockers.ca

In [46]:
%%bash

while read name
do 
echo -n "$name-->"
(curl -Is $name | grep -i "location" &> /dev/null) && echo "host Up" \
|| echo "host down" 
done < /home/mana/Work/host.txt

google.com-->host Up
facebook.com-->host Up
twitter.com-->host Up
tamilrockers.ca-->host down

### How to print index?

### Forward Index

In [40]:
st = 'Python'
for x in (st):
    print(x, end = ' | ')
print('\n')
for y,z in enumerate(st):
    print(y, end = ' | ')

P | y | t | h | o | n |

0 | 1 | 2 | 3 | 4 | 5 |

### Reverse Index

In [44]:
st = 'Python'
for x in (st):
    print(x, end = '  | ')
print('\n')
for y,z in enumerate(st,-len(st)):
    print(y, end = ' | ')

P  | y  | t  | h  | o  | n  |

-6 | -5 | -4 | -3 | -2 | -1 |

### How to generate 5 random numbers?

In [60]:
from random import choices 
from string import digits

print(*[''.join(choices(digits, k=8)) for _ in range(5)], sep = '\n')

51633451
00978208
48340586
25191478
40092165

### How to Know if You’re Using SSD Drive or HDD Drive?

In [109]:
!cat /sys/block/sda/queue/rotational

0

In [116]:
%%bash

rot=$(< /sys/block/sda/queue/rotational)
if ((1 == $rot))
then
echo "You are using HDD Drive."
else
echo "You are using SSD Drive."
fi

You are using SSD Drive.

In [139]:
%%python3

from pathlib import Path

rot = int(Path('/sys/block/sda/queue/rotational').read_text())
if 1 == rot:
    print("You are using HDD Drive.")
else:
    print("You are using SSD Drive.")

You are using SSD Drive.

### Why didn't use windows notepad to write python program?
Actually python interrupter taken as apostrophes when you double use quotes.

In [140]:
print(“hello”)

SyntaxError: invalid character in identifier (<ipython-input-140-28f786e34189>, line 1)

In [147]:
hex(ord('“'))

'0x201c'

In [142]:
hex(ord('”'))

'0x201d'

In [144]:
hex(ord('"'))

'0x22'

In [145]:
print("Hello")

Hello

### How to check which string match this regex pattern "\s+="

In [176]:
import re

comp = re.compile(r'\s+=')
lst = ['Manavalan', 'Manavalan Micheal','Xavier Rex =  Manavalan']
[i for i in lst if comp.search(i)]

['Xavier Rex =  Manavalan']

### How fetch date columns in "ls -l" command output?

In [235]:
%%bash

awk '{print $6,$7,$8}' <(ls -l)

May 19 02:51
May 4 18:02
May 5 20:41
May 16 09:51
May 17 03:45
May 2 20:48
May 17 03:45
May 17 03:45
May 8 17:24

In [237]:
%%python3

from subprocess import check_output
st = "ls -l".split()
d = (i.split()[-4:-1] for i in  check_output(st).decode().splitlines()[1:])
for x in d:
    print(*x)

May 19 02:51
May 4 18:02
May 5 20:41
May 16 09:51
May 17 03:45
May 2 20:48
May 17 03:45
May 17 03:45
May 8 17:24

### How to search file recursively?

In [1]:
from pathlib import Path as Pa

f = Pa(input('Enter File Name: '))
d = Pa('/var')

for i in d.rglob('*'):
    if i.name.lower() == f.name.lower():
        if i.is_file():
            print(i)

Enter File Name: syslog
/var/log/syslog
/var/log/installer/syslog

### Get User Name

In [6]:
import getpass

print(getpass.getuser())

mana

### How to compare words?

In [10]:
city1 = "Chennai"
city2 = "chennvami"
v = set(city2) - set(city1)
print('These characters',v, 'has been changed in city2.')

These characters {'m', 'c', 'v'} has been changed in city2.

This is program wirrten for kids.

I have 3 different color balls in Box. 
one ball is red.
another one ball is blue.
another one ball is green.

How to select green ball?

In [18]:
box = ['Red ball', 'Green ball', 'Blue ball']

for ball in box:
    if ball == 'Green ball':
        print(ball)

Green ball

In [20]:
box = ['Red ball', 'Green ball', 'Blue ball']

[ball for ball in box if ball == 'Green ball']

['Green ball']

### How to print 5 and 10 series numbers?

In [6]:
x = int(input('type your number: ' ))
print(*(num for num in range(x+1) if num%5==0))

type your number: 100
0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100

In [6]:
'{:e}'.format(1000000000000000000000000000)

'1.000000e+27'

In [7]:
1.000000e+27*5

5e+27

### How to find last reboot using python?

Here i use very very simple logic. Substract current time to uptime.

In [8]:
from datetime import datetime,timedelta
from pathlib import Path

u = Path('/proc/uptime').read_text().split()[0]
boot = datetime.now() - timedelta(seconds = float(u))
print(boot.strftime('%c'))

Tue May 21 18:05:49 2019

### How to captlize all string in list?

In [1]:
t=["montag","dienstag","mittwoch","donnerstag"]
[i.title() for i in t]

['Montag', 'Dienstag', 'Mittwoch', 'Donnerstag']

In [6]:
t=["montag","dienstag","mittwoch","donnerstag"]
[i.capitalize() for i in t]

['Montag', 'Dienstag', 'Mittwoch', 'Donnerstag']

In [3]:
t=["montag","dienstag","mittwoch","donnerstag"]
new = []
for i in t:
    new += [i.title()]

new

['Montag', 'Dienstag', 'Mittwoch', 'Donnerstag']

### How to create bulk files?

In [8]:
from pathlib import Path

p = '/home/mana/Work/'
for i in range(1,6):
    Path(p+'test'+str(i)+'.txt').touch()

In [10]:
!ls -1 /home/mana/Work/tes*

/home/mana/Work/test1.txt
/home/mana/Work/test2.txt
/home/mana/Work/test3.txt
/home/mana/Work/test4.txt
/home/mana/Work/test5.txt

### How to print time without date?

In [17]:
%%bash

date +'%T'

20:08:04

In [18]:
%%python3

from datetime import datetime

print(datetime.now().strftime("%T"))

20:08:11

### Font rendering

In [1]:
%%bash

echo "க + ே → கே"

க + ே → கே

### How to Create table format?

In [10]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9]

for i,j,k in zip(*[iter(lst)] *3):
    print('{:4} {:4} {:4}'.format(i, j, k))

   1    2    3
   4    5    6
   7    8    9

### How to list files in table format?

In [14]:
%%bash

ls -1 /home/mana/Work | xargs -n3 | column -t

add.csv      avi.csv           fruits.txt
hello.py     host.txt          para.txt
Physical     sample.csv        sample.txt
sayhello.py  server_health.sh  Swap
test1.txt    test2.txt         test3.txt
test4.txt    test5.txt         warn.txt

In [34]:
%%python3

import os

for i,j,k in zip(*[iter(os.listdir('/home/mana/Work'))] *3):
    print('{:14} {:14} {:4}'.format(i, j, k))

hello.py       warn.txt       add.csv
test3.txt      sample.txt     host.txt
test1.txt      sample.csv     server_health.sh
sayhello.py    fruits.txt     para.txt
test4.txt      Swap           avi.csv
Physical       test2.txt      test5.txt

### How to use else statement in try...except block?

In [39]:
try:
    print("Please enter any string value")
    
except:
    pass
else:
    sidesq=input("enter the side of a square:")
    print("The Value is:",sidesq)

Please enter any string value
enter the side of a square:Manavalan
The Value is: Manavalan

### How to list module methods using __dict__ magic method?

In [13]:
import pwd


pwd.__dict__

{'__name__': 'pwd',
 '__doc__': "This module provides access to the Unix password database.\nIt is available on all Unix versions.\n\nPassword database entries are reported as 7-tuples containing the following\nitems from the password database (see `<pwd.h>'), in order:\npw_name, pw_passwd, pw_uid, pw_gid, pw_gecos, pw_dir, pw_shell.\nThe uid and gid items are integers, all others are strings. An\nexception is raised if the entry asked for cannot be found.",
 '__package__': '',
 '__loader__': _frozen_importlib.BuiltinImporter,
 '__spec__': ModuleSpec(name='pwd', loader=<class '_frozen_importlib.BuiltinImporter'>, origin='built-in'),
 'getpwuid': <function pwd.getpwuid(uidobj, /)>,
 'getpwnam': <function pwd.getpwnam(arg, /)>,
 'getpwall': <function pwd.getpwall()>,
 'struct_passwd': pwd.struct_passwd}

In [12]:
import pwd

d = [i for i in dir(pwd) 
     if not i.startswith('_')]
print('These are Variables of pwdmodule:')
print('*'*37)
for x in d:
    if not callable(getattr(pwd, x)):
        print(x)
else:
    print()

print('These are Classes and Methods of pwdmodule:')
print('*'*47)
for x in d:
    if callable(getattr(pwd, x)):
        print(x)

These are Variables of pwdmodule:
*************************************

These are Classes and Methods of pwdmodule:
***********************************************
getpwall
getpwnam
getpwuid
struct_passwd

### Calculate Directory and Subdirectory size

In [19]:
%%bash
du -h /home/mana/Work

26M	/home/mana/Work/my-zone
41M	/home/mana/Work

In [27]:
%%python3
from pathlib import Path
from os.path import getsize as gts
import bisect

size = [1, 1e+3, 1e+6, 1e+9]
unit = ['B', 'K', 'M', 'G']
file_dict = {}
path = Path('/home/mana/Work')
clt_files = [fr for fr in path.rglob('*')]
for rf in clt_files:
    if not rf.is_dir():
        file_dict[rf.parent] = file_dict.get(rf.parent, 0)+gts(str(rf))
def convert(byts):
    byts = int(byts)
    index = bisect.bisect(size, byts)-1
    return "{:.0f}{}".format(byts//size[index], unit[index])
##Subdirectory Size
for dname, fsize in file_dict.items():
    if fsize != 0 and str(path) != str(dname):
        print('{:10}{}'.format(convert(fsize),str(dname.parents[0].name+'/'+dname.name)))
##Directory Size
dsize = sum(file_dict.values())
for dname, fsize in file_dict.items():
    if fsize != 0 and str(path) == str(dname):
        print('{:10}{}'.format(convert(dsize),str(dname.parents[0].name+'/'+dname.name)))

26M       Work/my-zone
42M       mana/Work

### How to draw this pattern "0 1 0 1 0 1 0 1 0"?

In [10]:
%%bash

for i in {2..10}
do
echo -en "$(($i%2)) "
done

0 1 0 1 0 1 0 1 0

In [4]:
%%python3

print(*[i%2 for i in range(2,11)])

0 1 0 1 0 1 0 1 0

### How to craete multi dimensional array?

In [5]:
from random import choices

r = [*range(10)]
muarry = [choices(r,k=5) for i in range(3)]
muarry

[[4, 3, 9, 5, 8], [8, 9, 5, 0, 8], [4, 4, 2, 8, 3]]

In [6]:
import numpy as np

np.arange(15).reshape(3,5)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

### How to find which one latest kernel in server?

In [15]:
!ls -1 /boot/vm*

/boot/vmlinuz-4.15.0-48-generic
/boot/vmlinuz-4.15.0-50-generic

In [28]:
from pathlib import Path as P

print(max(P('/boot').glob('vm*')))

/boot/vmlinuz-4.15.0-50-generic

### How to fetch kernel version number?

In [11]:
!ls -1 /boot/vm*

/boot/vmlinuz-4.15.0-48-generic
/boot/vmlinuz-4.15.0-50-generic

In [8]:
%%bash

ls -1 /boot/vm* | grep -Po "\d.{1,}"

4.15.0-48-generic
4.15.0-50-generic

In [15]:
%%python3

from pathlib import Path as P
import re

kernel = P('/boot').glob('vm*')
print(*[re.search(r'\d.{1,}',str(i)).group() for i in kernel],sep='\n')

4.15.0-50-generic
4.15.0-48-generic

In [43]:
# Method:1
import re

kernel = 'vmlinuz-4.15.0-50-generic'
re.search(r'\d.{1,}',kernel).group()

'4.15.0-50-generic'

In [40]:
#Method:2
kernel = 'vmlinuz-4.15.0-50-generic'
kernel.strip('vmvmlinuz-!')

'4.15.0-50-generic'

In [16]:
kernel = 'vmlinuz-4.15.0-50-generic'
kernel.strip('vmvmlinuz-!').strip('-generic!')

'4.15.0-50'

In [17]:
a = 23
b = 32

if a > b:
    print('a is greater than b')
else:
    print('b is greater than a')

b is greater than a

In [18]:
import csv

dir(csv)

['Dialect',
 'DictReader',
 'DictWriter',
 'Error',
 'OrderedDict',
 'QUOTE_ALL',
 'QUOTE_MINIMAL',
 'QUOTE_NONE',
 'QUOTE_NONNUMERIC',
 'Sniffer',
 'StringIO',
 '_Dialect',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__version__',
 'excel',
 'excel_tab',
 'field_size_limit',
 'get_dialect',
 'list_dialects',
 're',
 'reader',
 'register_dialect',
 'unix_dialect',
 'unregister_dialect',
 'writer']

### How to import csv file and manipulate using pathlib module?

In [36]:
from pathlib import Path
import csv

p = Path('/home/mana/Work/avi.csv').read_text().splitlines()
[i for i in csv.reader(p)]

[['0', 'Con1', 'Reg1'], ['1', 'Con1', 'Lang1']]

In [37]:
from pathlib import Path
import csv

p = Path('/home/mana/Work/avi.csv').read_text().splitlines()
[i for i in csv.reader(p) if '1' in i]

[['1', 'Con1', 'Lang1']]

In [38]:
from pathlib import Path
import csv

p = Path('/home/mana/Work/avi.csv').read_text().splitlines()
[i[2] for i in csv.reader(p) if '1' in i]

['Lang1']

In [35]:
from pathlib import Path
import csv

p = Path('/home/mana/Work/avi.csv').read_text().splitlines()
for i in csv.reader(p):
    if '1' in i:
        print(i)

['1', 'Con1', 'Lang1']

### Python 3.6.7 dictionary preserve order

In [68]:
import sys
sys.version

'3.6.7 (default, Oct 22 2018, 11:32:17) \n[GCC 8.2.0]'

In [54]:
num = {x:chr(x) for x in range(65,71)}

{65: 'A', 66: 'B', 67: 'C', 68: 'D', 69: 'E', 70: 'F'}

In [57]:
num = {x:chr(x) for x in range(65,71)}
[i for i in num]

[65, 66, 67, 68, 69, 70]

In [62]:
num = {x:chr(x) for x in range(65,71)}
print(*num.items())

(65, 'A') (66, 'B') (67, 'C') (68, 'D') (69, 'E') (70, 'F')

In [67]:
{chr(x):x for x in range(65,71)}

{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70}

In [59]:
alpha = {chr(x):x for x in range(65,71)}
[i for i in alpha]

['A', 'B', 'C', 'D', 'E', 'F']

In [65]:
alpha = {chr(x):x for x in range(65,71)}
print(*alpha)

A B C D E F

### How to list methods of module using Linux command?

In [73]:
%%bash

grep -rP "^def [a-zA-Z].*|class.*:$|^\s{1,}def [a-zA-Z].*" \
/usr/lib/python3.6/random.py | sed -r 's/def|://g'

class Random(_random.Random)
     seed(self, a=None, version=2)
     getstate(self)
     setstate(self, state)
     randrange(self, start, stop=None, step=1, _int=int)
     randint(self, a, b)
     choice(self, seq)
     shuffle(self, x, random=None)
     sample(self, population, k)
     choices(self, population, weights=None, *, cum_weights=None, k=1)
     uniform(self, a, b)
     triangular(self, low=0.0, high=1.0, mode=None)
     normalvariate(self, mu, sigma)
     lognormvariate(self, mu, sigma)
     expovariate(self, lambd)
     vonmisesvariate(self, mu, kappa)
     gammavariate(self, alpha, beta)
     gauss(self, mu, sigma)
     betavariate(self, alpha, beta)
     paretovariate(self, alpha)
     weibullvariate(self, alpha, beta)
class SystemRandom(Random)
     random(self)
     getrandbits(self, k)
     seed(self, *args, **kwds)

### How to list methods of module using python module source file?

In [110]:
from pathlib import Path
import random
import re

m = random
r = str(m).rsplit('from')[-1]
f = re.sub(r">|\'| ","",r)
p= Path(f).read_text().splitlines()
fn = [i for i in p 
 if re.search(r"^def [a-zA-Z].*|class.*:$|^\s{1,}def [a-zA-Z].*",i)]
for x in fn:
    print(re.sub(r'def|:','',x))

class Random(_random.Random)
     seed(self, a=None, version=2)
     getstate(self)
     setstate(self, state)
     randrange(self, start, stop=None, step=1, _int=int)
     randint(self, a, b)
     choice(self, seq)
     shuffle(self, x, random=None)
     sample(self, population, k)
     choices(self, population, weights=None, *, cum_weights=None, k=1)
     uniform(self, a, b)
     triangular(self, low=0.0, high=1.0, mode=None)
     normalvariate(self, mu, sigma)
     lognormvariate(self, mu, sigma)
     expovariate(self, lambd)
     vonmisesvariate(self, mu, kappa)
     gammavariate(self, alpha, beta)
     gauss(self, mu, sigma)
     betavariate(self, alpha, beta)
     paretovariate(self, alpha)
     weibullvariate(self, alpha, beta)
class SystemRandom(Random)
     random(self)
     getrandbits(self, k)
     seed(self, *args, **kwds)

### How to use modulo(remainder) operator in Bash and Python?

In [1]:
%%bash

echo $((8%3))

2

In [15]:
%%bash

awk 'BEGIN {print 8%3}'

2

In [4]:
%%python3

print(8%3)

2

### Linux Error Table

In [16]:
from pathlib import Path
import re

p = Path('/usr/include/asm-generic/')
p1 = p /'errno-base.h'
p2 = p /'errno.h'

for j in [p1,p2]:
    for i in j.read_text().splitlines():
        c = re.search(r'[0-9]{1,3}\s.*$',i)
        if c:
            r = c.group()
            s = re.sub(r'\/\*|\*\/','',r)
            print(re.sub(r'\s\s{1,}','. ',s))

0 WITH Linux-syscall-note
1. Operation not permitted
2. No such file or directory
3. No such process
4. Interrupted system call
5. I/O error
6. No such device or address
7. Argument list too long
8. Exec format error
9. Bad file number
10. No child processes
11. Try again
12. Out of memory
13. Permission denied
14. Bad address
15. Block device required
16. Device or resource busy
17. File exists
18. Cross-device link
19. No such device
20. Not a directory
21. Is a directory
22. Invalid argument
23. File table overflow
24. Too many open files
25. Not a typewriter
26. Text file busy
27. File too large
28. No space left on device
29. Illegal seek
30. Read-only file system
31. Too many links
32. Broken pipe
33. Math argument out of domain of func
34. Math result not representable
0 WITH Linux-syscall-note
35. Resource deadlock would occur
36. File name too long
37. No record locks available
38. Invalid system call number
39. Directory not empty
40. Too many symbolic links encountered
42. No message of desired type
43. Identifier removed
44. Channel number out of range
45. Level 2 not synchronized
46. Level 3 halted
47. Level 3 reset
48. Link number out of range
49. Protocol driver not attached
50. No CSI structure available
51. Level 2 halted
52. Invalid exchange
53. Invalid request descriptor
54. Exchange full
55. No anode
56. Invalid request code
57. Invalid slot
59. Bad font file format
60. Device not a stream
61. No data available
62. Timer expired
63. Out of streams resources
64. Machine is not on the network
65. Package not installed
66. Object is remote
67. Link has been severed
68. Advertise error
69. Srmount error
70. Communication error on send
71. Protocol error
72. Multihop attempted
73. RFS specific error
74. Not a data message
75. Value too large for defined data type
76. Name not unique on network
77. File descriptor in bad state
78. Remote address changed
79. Can not access a needed shared library
80. Accessing a corrupted shared library
81. .lib section in a.out corrupted
82. Attempting to link in too many shared libraries
83. Cannot exec a shared library directly
84. Illegal byte sequence
85. Interrupted system call should be restarted
86. Streams pipe error
87. Too many users
88. Socket operation on non-socket
89. Destination address required
90. Message too long
91. Protocol wrong type for socket
92. Protocol not available
93. Protocol not supported
94. Socket type not supported
95. Operation not supported on transport endpoint
96. Protocol family not supported
97. Address family not supported by protocol
98. Address already in use
99. Cannot assign requested address
100. Network is down
101. Network is unreachable
102. Network dropped connection because of reset
103. Software caused connection abort
104. Connection reset by peer
105. No buffer space available
106. Transport endpoint is already connected
107. Transport endpoint is not connected
108. Cannot send after transport endpoint shutdown
109. Too many references: cannot splice
110. Connection timed out
111. Connection refused
112. Host is down
113. No route to host
114. Operation already in progress
115. Operation now in progress
116. Stale file handle
117. Structure needs cleaning
118. Not a XENIX named type file
119. No XENIX semaphores available
120. Is a named type file
121. Remote I/O error
122. Quota exceeded
123. No medium found
124. Wrong medium type
125. Operation Canceled
126. Required key not available
127. Key has expired
128. Key has been revoked
129. Key was rejected by service
130. Owner died
131. State not recoverable
132. Operation not possible due to RF-kill
133. Memory page has hardware error

### Bash  equivalent of python range function
Bash  equivalent --> {n..n}

In [55]:
%%python3

for i in range(1,11):
    print(i, end = ' ')

1 2 3 4 5 6 7 8 9 10

In [56]:
%%bash

for i in {1..10}
do
echo -en "$i "
done

1 2 3 4 5 6 7 8 9 10

### How to split parent directory and file?

In [79]:
from pathlib import Path

p = Path('/usr/share/backgrounds/cosmos/cloud.jpg')

In [75]:
p.parent

PosixPath('/usr/share/backgrounds/cosmos')

In [76]:
p.name

'cloud.jpg'

In [77]:
import os.path

os.path.split('/usr/share/backgrounds/cosmos/cloud.jpg')[1]

'cloud.jpg'

In [78]:
import os.path

os.path.split('/usr/share/backgrounds/cosmos/cloud.jpg')[0]

'/usr/share/backgrounds/cosmos'

### How to find longest line in file?

In [96]:
!cat /home/mana/Work/fruits.txt

Apples and pears.
Citrus – oranges, grapefruits, mandarins and limes.
Stone fruit – nectarines, apricots, peaches and plums.
Tropical and exotic – bananas and mangoes.
Berries – strawberries, raspberries, blueberries, kiwifruit and passionfruit.
Melons – watermelons, rockmelons and honeydew melons.

In [91]:
from pathlib import Path as P

max(P('/home/mana/Work/fruits.txt').read_text().splitlines(),key=len)

'Berries – strawberries, raspberries, blueberries, kiwifruit and passionfruit.'

In [89]:
max(open('/home/mana/Work/fruits.txt'), key=len)   ## This is not safest method

'Berries – strawberries, raspberries, blueberries, kiwifruit and passionfruit.\n'

### How to find that how many duplicate items repeated in list?

In [131]:
lst = ['Siva','Mana','Robert','Siva','Mana','Robert','Siva']
{item: lst.count(item) for item in lst}

{'Siva': 3, 'Mana': 2, 'Robert': 2}

In [132]:
from collections import Counter

lst = ['Siva','Mana','Robert','Siva','Mana','Robert','Siva']
Counter(lst)

Counter({'Siva': 3, 'Mana': 2, 'Robert': 2})

### How to convert passwd file to passwd.csv file?

In [139]:
from pathlib import Path

P = Path('/etc/passwd').read_text().splitlines()
comma = [i.replace(':',',') for i in P]
print(*comma, sep = '\n', file=open('/home/mana/Work/passwd.csv','w'))

### HOW DO I CHANGE A TEXT FILE TO MS EXCEL IN PYTHON?

In [19]:
!cat /home/mana/Work/test.txt

15:33:05 up 1 day 16:37  1 user  load average:  0.32 0.47  0.46

In [20]:
from pathlib import Path

P = Path('/home/mana/Work/test.txt').read_text().splitlines()
comma = [i.replace(' ',',') for i in P]
print(*comma, sep = '\n', file=open('/home/mana/Work/test.xls','w'))

### How to create random number in different way?

In [26]:
x= eval(input("put a number between 0 and 1: "))
x = 3.9 * x 
for i in range(10):
    print(x, end = ' ')
    x += 1

put a number between 0 and 1: 5
19.5 20.5 21.5 22.5 23.5 24.5 25.5 26.5 27.5 28.5

In [27]:
import numpy as np

n = np.linspace(0,1,9)
3.9 * n

array([0.    , 0.4875, 0.975 , 1.4625, 1.95  , 2.4375, 2.925 , 3.4125,
       3.9   ])

In [24]:
import numpy as np

np.random.randint(10, size=10)

array([0, 8, 4, 3, 8, 9, 8, 6, 3, 7])

In [18]:
from random import choices

print(*choices([*range(10)], k=10))

7 3 5 8 5 7 4 9 8 5

### How to check Red colour exists or not in Colour Box?

#### This is another one kids program.

In [38]:
color_box = ['Black', 'White', 'Gray', 
             'Red', 'Orange', 'Yellow', 
             'Green', 'Pink', 'Brown']
 
'Red' in color_box

True

### Read and Write csv file

In [3]:
!cat /home/mana/Work/add.csv

100,Chennai,Manavalan,Micheal,04478907690
905,Chennai,Ram,Sivan,00478997690

In [7]:
from pathlib import Path

p = Path('/home/mana/Work/add.csv').read_text().splitlines()
print(*p, sep = '\n', file=open('/home/mana/Work/new.csv', 'w'))

In [8]:
!cat /home/mana/Work/new.csv

100,Chennai,Manavalan,Micheal,04478907690
905,Chennai,Ram,Sivan,00478997690

### How to get this output?

M
Ma
Man
Mana
Manav
Manava
Manaval
Manavala
Manavalan

In [11]:
name = 'Manavalan'
temp = ''
for i in name:
    temp += i
    print(temp)

M
Ma
Man
Mana
Manav
Manava
Manaval
Manavala
Manavalan

In [14]:
for _ in range(1, len('Manavalan')+1):
    print('Manavalan'[:_])

M
Ma
Man
Mana
Manav
Manava
Manaval
Manavala
Manavalan

### How to direct apply index in string?

In [15]:
'Manavalan'[:2]

'Ma'

In [4]:
name = 'Pushpha Raj'

for i in name:
    print(i)

P
u
s
h
p
h
a

R
a
j

In [18]:
name = 'Pushpha Raj'*100*100

for i in name:
    print(i, end = '\r')

In [21]:
name = 'Manavalan'
print(*name, sep='\n')

M
a
n
a
v
a
l
a
n

In [3]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [8]:
lst = [3,2,1,2,3,4,5,6,7,5,645,343,232,43,45,56,67,78,76,65,54,43,32,21,123,23,343,454,55,66,77,88]
print(len(lst))
rlst = [i for i in set(lst)]
print(len(rlst))
print(rlst, sep = ',')

32
27
[1, 2, 3, 4, 5, 6, 7, 645, 21, 23, 32, 43, 45, 54, 55, 56, 65, 66, 67, 454, 76, 77, 78, 343, 88, 232, 123]

In [14]:
values = list(input("Input some comma seprated numbers : "))

Input some comma seprated numbers : 1,2,3,4

In [22]:
from random import choices
from string import digits

ran = choices(digits, k=7)
print(ran)
print(set(ran))
[int(i) for i in set(ran)]

['7', '6', '4', '2', '3', '3', '7']
{'4', '2', '6', '3', '7'}

[4, 2, 6, 3, 7]

### How to to remove duplicate numbers of random number?

In [41]:
from random import choices
from string import digits

ran = ''.join(choices(digits, k=10))
print(ran)
int(''.join(set(ran)))

7806120307

263178

In [42]:
from random import choices
from string import digits

ran = ''.join(choices(digits, k=10))
print(ran)
print(set(ran))
int(''.join([i for i in set(ran)]))

5055554280
{'0', '4', '2', '5', '8'}

4258

### How to fetch this pattern?

In [4]:
import re

pattern='python????????'

re.search(r'\w{1,}',pattern).group()

'python'

In [5]:
import re

pattern='python????????'

re.search(r'\W{1,}',pattern).group()

'????????'

### How to skip particular range of numbers?
4257, n=2 => 57

Here, I skip 2 to 57.

In [53]:
[n for n in range(4257) if not n >=2 or n >= 57 ]

[0,
 1,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 1000,
 1001,
 1002,
 1003,
 1004,
 1005,
 1006,
 1007,
 1008,
 1009,
 1010,
 1011,
 1012,
 1013,
 1014,
 1015,
 1016,
 1017,
 1018,
 1019,
 1020,
 1021,
 1022,
 1023,
 1024,
 1025,
 1026,
 1027,
 1028,
 1029,
 1030,
 1031,
 1032,
 1033,
 1034,
 1035,
 1036,
 1037,
 1038,
 1039,
 1040,
 1041,
 1042,
 1043,
 1044,
 1045,
 1046,
 1047,
 1048,
 1049,
 1050,
 1051,
 1052,
 1053,
 1054,
 ...]

In [48]:
[n for n in range(4257) if not n >=2 <= 57 or n >= 57 ]

[0,
 1,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 1000,
 1001,
 1002,
 1003,
 1004,
 1005,
 1006,
 1007,
 1008,
 1009,
 1010,
 1011,
 1012,
 1013,
 1014,
 1015,
 1016,
 1017,
 1018,
 1019,
 1020,
 1021,
 1022,
 1023,
 1024,
 1025,
 1026,
 1027,
 1028,
 1029,
 1030,
 1031,
 1032,
 1033,
 1034,
 1035,
 1036,
 1037,
 1038,
 1039,
 1040,
 1041,
 1042,
 1043,
 1044,
 1045,
 1046,
 1047,
 1048,
 1049,
 1050,
 1051,
 1052,
 1053,
 1054,
 ...]

In [26]:
[n for n in range(4257) 
 if not n >=2 and n<= 57 or n >=2 and not n<= 57]

[0,
 1,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 1000,
 1001,
 1002,
 1003,
 1004,
 1005,
 1006,
 1007,
 1008,
 1009,
 1010,
 1011,
 1012,
 1013,
 1014,
 1015,
 1016,
 1017,
 1018,
 1019,
 1020,
 1021,
 1022,
 1023,
 1024,
 1025,
 1026,
 1027,
 1028,
 1029,
 1030,
 1031,
 1032,
 1033,
 1034,
 1035,
 1036,
 1037,
 1038,
 1039,
 1040,
 1041,
 1042,
 1043,
 1044,
 1045,
 1046,
 1047,
 1048,
 1049,
 1050,
 1051,
 1052,
 1053,
 1054,
 1055,
 ...]