## **collections**

The collections module includes container data types beyond the built-in types list, dict, and tuple.

### **ChainMap**

A ChainMap groups multiple dicts (or other mappings) together to create a single, updateable view.

In [6]:
from collections import ChainMap

[i for i in dir(ChainMap) if not i.startswith('_')]

['clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'new_child',
 'parents',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

#### **Join two dictionary**

In [9]:
baseline = {'music': 'bach', 'art': 'rembrandt'}
adjustments = {'art': 'van gogh', 'opera': 'carmen'}
list(ChainMap(adjustments, baseline))

['opera', 'music', 'art']

#### **copy and paste**

In [11]:
baseline = {'music': 'bach', 'art': 'rembrandt'}
adjustments = {'art': 'van gogh', 'opera': 'carmen'}
combined = baseline.copy()
combined.update(adjustments)
list(combined)

['music', 'art', 'opera']

#### **maps**

In [19]:
from collections import ChainMap

a = {'a': 'A', 'c': 'C'}
b = {'b': 'B', 'c': 'D'}
m = ChainMap(a, b)

print(m.maps)

[{'a': 'A', 'c': 'C'}, {'b': 'B', 'c': 'D'}]

#### **Updating Values**

In [20]:
import collections

a = {'a': 'A', 'c': 'C'}
b = {'b': 'B', 'c': 'D'}

m = collections.ChainMap(a, b)
print('Before: {}'.format(m['c']))
a['c'] = 'E'
print('After : {}'.format(m['c']))

Before: C
After : E

#### **new_child**

In [22]:
import collections

a = {'a': 'A', 'c': 'C'}
b = {'b': 'B', 'c': 'D'}

m1 = collections.ChainMap(a, b)
m2 = m1.new_child()

m2['c'] = 'E'

m2

ChainMap({'c': 'E'}, {'a': 'A', 'c': 'C'}, {'b': 'B', 'c': 'D'})

### **Counter**

A Counter is a dict subclass for counting hashable objects. It is a collection where elements are stored as dictionary keys and their counts are stored as dictionary values.

In [24]:
from collections import Counter

[i for i in dir(Counter) if not i.startswith('_')]

['clear',
 'copy',
 'elements',
 'fromkeys',
 'get',
 'items',
 'keys',
 'most_common',
 'pop',
 'popitem',
 'setdefault',
 'subtract',
 'update',
 'values']

In [26]:
c = Counter()                           # a new, empty counter
c = Counter('gallahad')                 # a new counter from an iterable
c = Counter({'red': 4, 'blue': 2})      # a new counter from a mapping
c = Counter(cats=4, dogs=8)             # a new counter from keyword args

In [25]:
cnt = Counter()
for word in ['red', 'blue', 'red', 'green', 'blue', 'blue']:
    cnt[word] += 1
cnt

Counter({'red': 2, 'blue': 3, 'green': 1})

#### **elements**

In [27]:
c = Counter(a=4, b=2, c=0, d=-2)
sorted(c.elements())

['a', 'a', 'a', 'a', 'b', 'b']

#### **most_common([n])**

In [29]:
Counter('abracadabra').most_common(2)

[('a', 5), ('b', 2)]

#### **subtract([iterable-or-mapping])**

In [31]:
c = Counter(a=4, b=2, c=0, d=-2)
d = Counter(a=1, b=2, c=3, d=4)
c.subtract(d)
c

Counter({'a': 3, 'b': 0, 'c': -3, 'd': -6})

#### **Mathematical Operations**

In [39]:
c = Counter(a=3, b=1)
d = Counter(a=1, b=2)
print(c + d)          # add two counters together:  c[x] + d[x]
print(c - d)          # subtract (keeping only positive counts)
print(c & d)          # intersection:  min(c[x], d[x]) 
print(c | d)          # union:  max(c[x], d[x])

Counter({'a': 4, 'b': 3})
Counter({'a': 2})
Counter({'a': 1, 'b': 1})
Counter({'a': 3, 'b': 2})

#### **Get the most common word in a text file**

In [ ]:
import re
words = re.findall(r'\w+', open('ipencil.txt').read().lower())
Counter(words).most_common(1) # [('the', 148)]

### **deque**

Deques are a generalization of stacks and queues (the name is pronounced “deck” and is short for “double-ended queue”). Deques support thread-safe, memory efficient appends and pops from either side of the deque with approximately the same O(1) performance in either direction.

In [41]:
from collections import deque

[i for i in dir(deque) if not i.startswith('_')]

['append',
 'appendleft',
 'clear',
 'copy',
 'count',
 'extend',
 'extendleft',
 'index',
 'insert',
 'maxlen',
 'pop',
 'popleft',
 'remove',
 'reverse',
 'rotate']

In [77]:
from collections import deque
d = deque('ghi')              # make a new deque with three items
d

deque(['g', 'h', 'i'])

In [78]:
for elem in d:                   # iterate over the deque's elements
     print(elem.upper())

G
H
I

In [79]:
d.append('j')                    # add a new entry to the right side
d

deque(['g', 'h', 'i', 'j'])

In [80]:
d.appendleft('f')                # add a new entry to the left side
d

deque(['f', 'g', 'h', 'i', 'j'])

In [81]:
d.pop()                          # return and remove the rightmost item

'j'

In [82]:
d.popleft()                      # return and remove the leftmost item

'f'

In [83]:
d[0]                             # peek at leftmost item

'g'

In [84]:
d[-1]                            # peek at rightmost item

'i'

In [85]:
d.extend('jkl')                  # add multiple elements at once
d

deque(['g', 'h', 'i', 'j', 'k', 'l'])

In [86]:
d.rotate(1)                      # right rotation
d

deque(['l', 'g', 'h', 'i', 'j', 'k'])

In [87]:
d.rotate(-1)                     # left rotation
d

deque(['g', 'h', 'i', 'j', 'k', 'l'])

In [88]:
d.clear()                        # empty the deque
d

deque([])

In [89]:
d.extendleft('abc')              # extendleft() reverses the input order
d

deque(['c', 'b', 'a'])

### **deque Example**

#### **How to create tail command using Python?**

In [105]:
from collections import deque
from pathlib import Path

lines = Path('/etc/passwd').read_text().splitlines()
deque(lines, 4)

deque(['hplip:x:120:7:HPLIP system user,,,:/var/run/hplip:/bin/false',
       'geoclue:x:121:129::/var/lib/geoclue:/usr/sbin/nologin',
       'mana:x:1000:1000:mana,,,:/home/mana:/bin/bash',
       'sshd:x:122:65534::/run/sshd:/usr/sbin/nologin'])

#### **Generate 5 random numbers**

In [103]:
from collections import deque
import random

lst = [random.randint(0, 100) for _ in range(20)]
deque(lst, 5)

deque([29, 55, 81, 60, 81])

### **defaultdict**

In [109]:
from collections import defaultdict

s = [('yellow', 1), ('blue', 2), ('yellow', 3), ('blue', 4), ('red', 1)]
d = defaultdict(list)
for x,y in s:
    d[x].append(y)
d

defaultdict(list, {'yellow': [1, 3], 'blue': [2, 4], 'red': [1]})

In [111]:
s = [('red', 1), ('blue', 2), ('red', 3), ('blue', 4), ('red', 1), ('blue', 4)]
d = defaultdict(set)
for x,y in s:
    d[x].add(y)
d

defaultdict(set, {'red': {1, 3}, 'blue': {2, 4}})

In [110]:
s = 'mississippi'
d = defaultdict(int)

for i in s:
    d[i] += 1
    
d

defaultdict(int, {'m': 1, 'i': 4, 's': 4, 'p': 2})

In [49]:
from collections import defaultdict

days = [('monday', 2.5), ('wednesday', 2), ('friday', 1.5), ('monday', 3), 
        ('tuesday', 3.5), ('thursday', 2), ('friday', 2.5)]
active_days = defaultdict(float)
for k, v in days:
    active_days[k] += v

active_days

defaultdict(float,
            {'monday': 5.5,
             'wednesday': 2.0,
             'friday': 4.0,
             'tuesday': 3.5,
             'thursday': 2.0})

### **namedtuple**
>namedtuple(typename, field_names, *, rename=False, defaults=None, module=None)

The field_names are a sequence of strings such as ['x', 'y']. Alternatively, field_names can be a single string with each fieldname separated by whitespace and/or commas, for example 'x y' or 'x, y'.

Any valid Python identifier may be used for a fieldname except for names starting with an underscore. Valid identifiers consist of letters, digits, and underscores but do not start with a digit or underscore and cannot be a keyword such as class, for, return, global, pass, or raise.

If rename is true, invalid fieldnames are automatically replaced with positional names. For example, ['abc', 'def', 'ghi', 'abc'] is converted to ['abc', '_1', 'ghi', '_3'], eliminating the keyword def and the duplicate fieldname abc.

defaults can be None or an iterable of default values. Since fields with a default value must come after any fields without a default, the defaults are applied to the rightmost parameters. For example, if the fieldnames are ['x', 'y', 'z'] and the defaults are (1, 2), then x will be a required argument, y will default to 1, and z will default to 2.

If module is defined, the __module__ attribute of the named tuple is set to that value.

In [122]:
from collections import namedtuple

Point = namedtuple('Point', ['x', 'y'])
p = Point(11, y=10)                      # instantiate with positional or keyword arguments
print(p)                                 # readable __repr__ with a name=value style
print(p[0] + p[1])                       # indexable like the plain tuple (11, 22)
x, y = p                                 # unpack like a regular tuple
print(x, y)
print(p.x + p.y)                         # fields also accessible by name

Point(x=11, y=10)
21
11 10
21

In [2]:
import collections
student=collections.namedtuple('student', ['name', 'age', 'marks'])
student('Manavalan', 21, 78)

student(name='Manavalan', age=21, marks=78)

named tuples support three additional methods and two attributes. To prevent conflicts with field names, the method and attribute names start with an underscore.

1. _make(iterable)
2. _asdict()
3. _replace(**kwargs)
4. _fields
5. _field_defaults

#### **_make(iterable)**

In [125]:
from collections import namedtuple

Point = namedtuple('Point', 'x y')
t = [11, 22]
Point._make(t)

Point(x=11, y=22)

In [15]:
from collections import namedtuple

UserRecord = namedtuple('UserRecord', 'username, uid, guid, shell')
UserLines = [i.split() for i in open('/home/mana/Work/user.txt').readlines()]
for user in map(UserRecord._make, UserLines):
    print(user)
    print(user.username, user.uid,user.shell)

UserRecord(username='bin', uid='2', guid='2', shell='/usr/sbin/nologin')
bin 2 /usr/sbin/nologin
UserRecord(username='sys', uid='3', guid='3', shell='/usr/sbin/nologin')
sys 3 /usr/sbin/nologin
UserRecord(username='sync', uid='4', guid='65534', shell='/bin/sync')
sync 4 /bin/sync

In [29]:
from collections import namedtuple

UserRecord = namedtuple('UserRecord', 'username, uid, guid, shell')
UserLines = map(str.split, open('/home/mana/Work/user.txt').readlines())

for user in map(UserRecord._make, UserLines):
    print(user.username, user.uid,user.shell)

bin 2 /usr/sbin/nologin
sys 3 /usr/sbin/nologin
sync 4 /bin/sync

In [27]:
from collections import namedtuple

UserRecord = namedtuple('UserRecord', 'username, uid, guid, shell')
UserLines = [i.split() for i in open('/home/mana/Work/user.txt').readlines()]
user = [UserRecord._make(UserLines[j]) for j in range(len(UserLines))]
print(user)
print(user[0])

[UserRecord(username='bin', uid='2', guid='2', shell='/usr/sbin/nologin'), UserRecord(username='sys', uid='3', guid='3', shell='/usr/sbin/nologin'), UserRecord(username='sync', uid='4', guid='65534', shell='/bin/sync')]
UserRecord(username='bin', uid='2', guid='2', shell='/usr/sbin/nologin')

In [ ]:
from collections import namedtuple

EmployeeRecord = namedtuple('EmployeeRecord', 'name, age, title, department, paygrade')

import csv
for emp in map(EmployeeRecord._make, csv.reader(open("employees.csv", "rb"))):
    print(emp.name, emp.title)

#### **_asdict()**

Return a new dict which maps field names to their corresponding values.

In [31]:
from collections import namedtuple

Point = namedtuple('Point', 'x y')
p = Point(x=11, y=22)
print(p._asdict())

OrderedDict([('x', 11), ('y', 22)])

#### **_replace(**kwargs)**

Return a new instance of the named tuple replacing specified fields with new values.

In [37]:
p = Point(x=11, y=22)
n = p._replace(x=33)
n

Point(x=33, y=22)

In [46]:
import collections

Person = collections.namedtuple('Person', 'name age')

bob = Person(name='Bob', age=30)
print('\nBefore:', bob)
bob2 = bob._replace(name='Robert')
print('After:', bob2)
print('Same?:', bob is bob2)

Before: Person(name='Bob', age=30)
After: Person(name='Robert', age=30)
Same?: False

#### **_fields**

Tuple of strings listing the field names.

In [38]:
p._fields            # view the field names

('x', 'y')

In [45]:
import collections

Person = collections.namedtuple('Person', 'name age')
bob = Person(name='Bob', age=30)
print('Fields:', bob._fields)

Fields: ('name', 'age')

#### **_field_defaults**

Dictionary mapping field names to default values.

In [ ]:
from collections import namedtuple
Account = namedtuple('Account', 'type balance', defaults=[0])

### **To convert a dictionary to a named tuple**

use the double-star-operator

In [42]:
d = {'x': 11, 'y': 22}
Point(**d)

Point(x=11, y=22)

### **namedtuple examples**

In [44]:
import collections

Person = collections.namedtuple('Person', 'name age')
bob = Person(name='Bob', age=30)
jane = Person(name='Jane', age=29)

for p in [bob, jane]:
    print('{} is {} years old.'.format(*p))

Bob is 30 years old.
Jane is 29 years old.