# Dictionary
Dictionary Examples.

### How to create dictionary using keyword?

In [12]:
d = dict(a=1, b=2, c=3)
d

{'a': 1, 'b': 2, 'c': 3}

### How to create dictionary using pair element?

In [145]:
dict([[1,2],[3,4]])

{1: 2, 3: 4}

### Print keys

In [98]:
d = {'banana': 3, 'apple': 4, 'pear': 1, 'orange': 2}

d.keys()

dict_keys(['banana', 'apple', 'pear', 'orange'])

### Print Values

In [97]:
d = {'banana': 3, 'apple': 4, 'pear': 1, 'orange': 2}

d.values()

dict_values([3, 4, 1, 2])

### Print keys and values

In [99]:
d = {'banana': 3, 'apple': 4, 'pear': 1, 'orange': 2}

d.items()

dict_items([('banana', 3), ('apple', 4), ('pear', 1), ('orange', 2)])

### How to append key with value?

In [71]:
k = {'a': 1, 'b': 2}
k['c'] = 3
k

{'a': 1, 'b': 2, 'c': 3}

In [73]:
k = {'a': 1, 'b': 2}
k.setdefault('c', 3)
k

{'a': 1, 'b': 2, 'c': 3}

### Print value direct

In [11]:
dic = {'energy': 10, 'food': 3}
print(dic['energy'],dic['food'])

10 3

### Unpack a dict into some variables

In [14]:
dic = {'energy': 10, 'food': 3}
energy, food = dic['energy'], dic['food']
energy

10

### How to convert list tuple of dictionary?

In [16]:
d1 = {'a': 1, 'b': 2, 'c': 3}
d1.items() # Return tuple

dict_items([('a', 1), ('b', 2), ('c', 3)])

### Membership test in Dictionary

In [20]:
name_for_userid = {382: "Alice", 950: "Bob", 590: "Dilbert"}

if 382 in name_for_userid:
    print('User id exists')

User id exists

### How to compare dict?

In [105]:
k = {'a': 1, 'b': 2}
list(filter(lambda x: k[x] > 1, k))

['b']

In [108]:
k = {'a': 1, 'b': 2}
list(filter(lambda x: x[1] > 1, k.items()))

[('b', 2)]

### How to sorted dict?

In [120]:
k = {'c': 3, 'a': 1, 'b': 2}
sorted(k) # Default sorted keys

['a', 'b', 'c']

### In Dictionary key only iterable:

In [152]:
d = {'a': 60, 'h': 17 , 'z': 78, 'b': 23, 'j': 63}

list(filter(lambda x: d[x] > 50, d))

['a', 'z', 'j']

In [153]:
d = {'a': 60, 'h': 17 , 'z': 78, 'b': 23, 'j': 63}

list(d)

['a', 'h', 'z', 'b', 'j']

In [154]:
for i in d:
    print(i)

a
h
z
b
j

### Count Repeated Character

In [34]:
st = 'Manavalan'
d = {}
for i in st:
    if not i in d:
        d[i] = 1
    else:
        d[i] += 1
print(d)

{'M': 1, 'a': 4, 'n': 2, 'v': 1, 'l': 1}

### Create dictionary from sequence

In [42]:
st = 'Manavalan'
d = {}
dict.fromkeys(st)

{'M': None, 'a': None, 'n': None, 'v': None, 'l': None}

### Append multiple values for one key in a dictionary

In [70]:
k = {'a': 1, 'b': 2}

k.setdefault('c', [3])
k['c'].append(4)
k

{'a': 1, 'b': 2, 'c': [3, 4]}

In [59]:
data = [('wlp2s0', 'up'), ('wlp2s0', '1')]
di ={}
for dev,state in data:  
    di.setdefault(dev, []).append(state)
di

{'wlp2s0': ['up', '1']}

In [63]:
from collections import defaultdict

data = [('wlp2s0', 'up'), ('wlp2s0', '1')]
d = defaultdict(list)
for x,y in data:
    d[x].append(y)
d

defaultdict(list, {'wlp2s0': ['up', '1']})

### Find duplicate lines

In [92]:
dt = {}
with open('dup.txt') as f:
    fl = f.read().splitlines()
for i in fl: dt[i] = dt.get(i, 0)+1
for x,y in dt.items():
    if y > 1:
        print(repr(x),'repated',y,'times')

'Apple is fruit.' repated 3 times
'Pottato is vegatable.' repated 2 times
'Organe is fruit.' repated 2 times

###  How to make dictionary from two list?

In [123]:
no = [101, 102, 103]
name = ['Micheal', 'Francis', 'Siva']

dict(zip(no,name))

{101: 'Micheal', 102: 'Francis', 103: 'Siva'}

### Dictionary with min,max,sorted,zip Built-In functions

In [130]:
report = {'john': 98.5, 'alfred' : 78.0, 'david': 45.6, 
          'karan': 89.97, 'michele':  60.89}
print(min(report))
print(max(report))
print(min(report.values()))
print(max(report.values()))
print(min(zip(report.values(), report.keys())))
print(max(zip(report.values(), report.keys())))
print(sorted(zip(report.values(), report.keys())))

alfred
michele
45.6
98.5
(45.6, 'david')
(98.5, 'john')
[(45.6, 'david'), (60.89, 'michele'), (78.0, 'alfred'), (89.97, 'karan'), (98.5, 'john')]

### How to merge two dictionaries?

In [131]:
x = {'a': 1, 'b': 2}
y = {'b': 3, 'c': 4}
z = {**x, **y}
z

{'a': 1, 'b': 3, 'c': 4}

### Function argument unpacking

In [132]:
def fun(x, y, z):
    print(x, y, z)
    
d1 = {'x': 1, 'y': 0, 'z': 1}
fun(**d1)

1 0 1

### Dictionary comprehensions

In [136]:
{i: i*2 for i in range(4)}

{0: 0, 1: 2, 2: 4, 3: 6}

### Inverting a dictionary using a dictionary comprehension

In [138]:
m = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
{j: i for i,j in m.items()}

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

### Inverting a dictionary using zip

In [139]:
m = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
dict(zip(m.values(), m.keys()))

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

### How to create dictionary from single list?

In [143]:
inp = ['F0', 'F1', 'F2', 'F3']
dict(enumerate(inp))

{0: 'F0', 1: 'F1', 2: 'F2', 3: 'F3'}

### Equality Tests in dictionary

In [144]:
d1 = {"mike":41, "bob":3}
d2 = {"bob":3, "mike":41}

d1 == d2

True

### Dictionary items processed through Lambda

In [156]:
d = {'banana': 3, 'apple': 4, 'pear': 1, 'orange': 2}

list(map(lambda x: x[0]  ,d.items()))

['banana', 'apple', 'pear', 'orange']

### Dictionary items sorted by Key

In [157]:
d = {'banana': 3, 'apple': 4, 'pear': 1, 'orange': 2}

sorted(d.items(), key = lambda x: x[0])

[('apple', 4), ('banana', 3), ('orange', 2), ('pear', 1)]

### Dictionary items sorted by Value

In [158]:
d = {'banana': 3, 'apple': 4, 'pear': 1, 'orange': 2}

sorted(d.items(), key = lambda x: x[1])

[('pear', 1), ('orange', 2), ('banana', 3), ('apple', 4)]

### How to exchange value in Dictionary?

In [164]:
dt = {'USA': 'London', 'UK': 'Washington'}
dt['USA'], dt['UK'] = dt['UK'], dt['USA']
dt

{'USA': 'Washington', 'UK': 'London'}